body {
    background-color: #f2f2f2;
    min-height: 100%;
    margin-top: 100px;
    background-image: url("matrix.jpg");
    background-repeat: repeat;
}

.header {
    background: black;  
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 2000; 
    width: 100%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #f5c144;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #f5c144;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

h3:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    background: lightgray;
}

.container  {
    padding: 10px;
    margin: auto;
    width: 75%;
    background-color: white;
    -webkit-box-shadow: 3px 4px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 12px -5px rgba(0,0,0,0.75);

}

img {
    display: block;
    margin-right: auto;
}

